---
layout: default
---

<div>
  <div id="left" class="post_lists">
    {{ content }}
  </div>

  <div id="right">
    <div class="upcomingeventsbox">
      <div class="boxpadding">
        <h2>
          <div class="bullet"> </div>活动预告
        </h2>
        <ul class="ec3_events">
          <li>
            <a href="">2012年10月 - 武汉体育学院 - 第一次志愿者招募大会 </a>
          </li>
          <li>
            <a href="">2012年11月 - 中南民族大学 - 校园推广会 - 第一次考察结果报告会 </a>
          </li>
        </ul>
        <p class="right">
          <a href="">更多活动 >> </a>
        </p>
      </div>
    </div>
    <div class="donatebox">
      <div class="boxpadding">
        <h2>
          <div class="bullet"> </div>捐赠我们
        </h2>
        <ul class="ec3_events donates">
          <li>
            <a href="">我们的行动需要您的支持，请帮助我们做的更好。 </a>
          </li>
          <li>
            <a href="">如果您也觉得我们的行动有意义，请帮助我们做的更好。 </a>
          </li>
        </ul>

        <p class="right">
          <a href="">了解更多 >> </a>
        </p>
      </div>
    </div>
    <div class="joinbox">
      <div class="boxpadding welcome-box">
        <h2>如何加入我们？</h2>
        <p>登录 <strong>凝动夕阳 </strong>官方网站进入志愿者注册页面，根据操作提示填写相关信息即可加入。或者关注凝动夕阳官方微博 <a title="Events calendar" href="/">@凝动夕阳</a>私信我们，我们会在最短时间内给您回复。<a title="加入我们" href="/come-join/ways-to-join/">了解更多 »</a></p>
      </div>
    </div>
  </div>

  <div class="clear"></div>
  <!-- #content -->
</div>
